body{
  background-color: DarkMagenta;
  color: Cyan;
}
h1{
  font-size: 57px;
}
h2{
  font-size: 35px;
}
h3{
  font-size: 35px;
}
h4{
  font-size: 35px;
}
h5{
  font-size: 35px;
}
p{
  background-color: BlueViolet;
  font-size: 33px;
}
